body {
    background-image: url("library.jpg");
    background-size: cover;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
    height: 100 vp;
    color: white;
    text-shadow: 0 0 10px black; 
    
}

h1 {
    margin-top: 100px;
    margin-bottom: 10px;
   
    
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: black;
    font-weight: bold;
    width: 120px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    background: beige;
}

#save-btn {
    background: lightsalmon;
}

#width {
    max-width: 550px;
}

